#Temporary folders
DDC/
Intermediate/
Binaries/
PaintGame/DerivedDataCache/*
Saved/
PaintGame/Plugins/BlueprintAssist/NodeSizeCache/
PaintGame/Plugins/Developer/
/PaintGame/_ReSharper.Caches

#Compiled object files
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch
*.ipch

#Compiled Dynamic Libraries
*.so
*.dylib
*.dll

#Fortran Module Files
*.mod

#Compiled Static Libraries
*.lai
*.a
*.la
*.lib

#Executables
*.exe
*.out
*.app
*.ipa
*.db
*.bat

#VS files
*.sln
*.suo
*.opensdf
*.sdf
*.vc.db
*.opendb
.vs/

PaintGame/Content/Maps/SanFran_Test_BuiltData.uasset
PaintGame/.vs/PaintGame/v15/Solution.VC.db-shm
PaintGame/.vs/PaintGame/v15/Solution.VC.db-wal
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/Additive/Longs_CrouchLoop.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_CC.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_D.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_L.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_LD.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_LU.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_R.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_RD.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_RU.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/AimOffsets/Longs_Look_U.uasset
PaintGame/Content/Characters_New/LongswordAnimsetPro/Animations/InPlace/Longs_Idle1.uasset
PaintGame/Content/Maps/SanFrancisco_04.umap
PaintGame/Content/Environment/Buildings/Materials/M_OpaqueGlass_Inst.uasset
PaintGame/Content/Maps/SanFrancisco_05.umap
PaintGame/Content/Blueprints/Abilities/RobotSummon.uasset
PaintGame/Content/Characters_New/BP_GameCharacter.uasset
PaintGame/Content/Characters_New/Robot/Animations/Motion.uasset
PaintGame/Content/Characters_New/Robot/BP_Robot.uasset
PaintGame/Content/Data/DT_Vehicle.uasset
PaintGame/Content/Characters_New/Robot/Robot_Animation.uasset
PaintGame/Content/Maps/Test_01.umap
PaintGame/Content/Maps/Test_01_BuiltData.uasset
PaintGame/enc_temp_folder/

!aws-cpp-sdk-gamelift-server.dll
!aws-cpp-sdk-gamelift-server.lib
!libaws-cpp-sdk-gamelift-server.so
*.log
.vs/slnx.sqlite
PaintGame/Content/Blueprints/GameModes/StartupCommands.uasset
PaintGame/Content/Blueprints/GameModes/CommandHolder.uasset
PaintGame/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
PaintGame/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
PaintGame/PlayerData.json
PaintGame/SurveyData.csv
/PaintGame/_ReSharper.Caches
PaintGame/.vsconfig
PaintGame/Plugins/BlueprintAssist/NodeSizeCache/E305D5CE42B86841AD2D188B1DC6F0E1.json
PaintGame/Plugins/BlueprintAssist/NodeSizeCache/E305D5CE42B86841AD2D188B1DC6F0E1.json
PaintGame/Plugins/BlueprintAssist/NodeSizeCache/E305D5CE42B86841AD2D188B1DC6F0E1.json
/PaintGame/Plugins/BlueprintAssist/NodeSizeCache
/PaintGame/Plugins/Actions
/PaintGame/Plugins/BrettTools
/CrashData
.config/